* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#snake-game {
    border: 2px solid #ddd;
}

#painel {
    border: 2px solid #000;
    padding: .5rem;
    background-color: #ddd;
}

.botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

button {
    padding: .3rem 1rem;
}